.csscontainer1{
    display: flex;
    width: 70%;
    flex-direction: column;
}

#csssearchbar{
    display: flex;
    width: 100%;
    padding-top: 20px;
    flex-direction: row-reverse;
}

#csssearch{
    width: 270px;
    border: #094067 solid 1px;
    
}

#cssfiltericon{
    color:  #094067;
    background-color: none;
}


#cssfilter{
    background-color: #f8f9fa;
    padding: 0;
    border: none;
}

#csssearchicon{
    color: #094067;
}

#csssearchbutton{
    padding: 0;
}

.cssbuttons{
    display: flex;
    justify-content: space-between;
}

.cssbutton{
    margin-right: 10px;
    background-color: #094067;
    border-radius: 15px;
    border: none;
    font-family: sans-serif;
    font-size:small;
}

.cssdelete{
    background-color: #670927;
}

.cssdelete:hover{
    background-color: #400518;
}

.input-group-text{
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
}

